In [18]:
from sqlalchemy import Column, Integer, String, ForeignKey, create_engine, DateTime, func, Text, select
from sqlalchemy import Float, Boolean
from sqlalchemy.orm import declarative_base, Session, relationship, sessionmaker, configure_mappers
from datetime import datetime, timezone
from typing import List, Tuple, Dict
import pandas as pd
from IPython.display import display, HTML

In [2]:
import chardet

with open('content/globalterrorismdb_0718dist.csv', 'rb') as f:
    result = chardet.detect(f.read(100000))  # Считываем первые 100000 байт
    print(result)

{'encoding': 'ISO-8859-1', 'confidence': 0.73, 'language': ''}

In [3]:
df_original = pd.read_csv('content/globalterrorismdb_0718dist.csv', encoding='ISO-8859-1', low_memory=False)

In [4]:
df_original.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181691 entries, 0 to 181690
Columns: 135 entries, eventid to related
dtypes: float64(55), int64(22), object(58)
memory usage: 187.1+ MB

In [5]:
df_original

,eventid,iyear,imonth,iday,approxdate,extended,resolution,country,country_txt,region,...,addnotes,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related
0,197000000001,1970,7,2,NaN,0,NaN,58,Dominican Republic,2,...,NaN,NaN,NaN,NaN,PGIS,0,0,0,0,NaN
1,197000000002,1970,0,0,NaN,0,NaN,130,Mexico,1,...,NaN,NaN,NaN,NaN,PGIS,0,1,1,1,NaN
2,197001000001,1970,1,0,NaN,0,NaN,160,Philippines,5,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
3,197001000002,1970,1,0,NaN,0,NaN,78,Greece,8,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
4,197001000003,1970,1,0,NaN,0,NaN,101,Japan,4,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181686,201712310022,2017,12,31,NaN,0,NaN,182,Somalia,11,...,NaN,"""Somalia: Al-Shabaab Militants Attack Army Che...","""Highlights: Somalia Daily Media Highlights 2 ...","""Highlights: Somalia Daily Media Highlights 1 ...",START Primary Collection,0,0,0,0,NaN
181687,201712310029,2017,12,31,NaN,0,NaN,200,Syria,10,...,NaN,"""Putin's 'victory' in Syria has turned into a ...","""Two Russian soldiers killed at Hmeymim base i...","""Two Russian servicemen killed in Syria mortar...",START Primary Collection,-9,-9,1,1,NaN
181688,201712310030,2017,12,31,NaN,0,NaN,160,Philippines,5,...,NaN,"""Maguindanao clashes trap tribe members,"" Phil...",NaN,NaN,START Primary Collection,0,0,0,0,NaN
181689,201712310031,2017,12,31,NaN,0,NaN,92,India,6,...,NaN,"""Trader escapes grenade attack in Imphal,"" Bus...",NaN,NaN,START Primary Collection,-9,-9,0,-9,NaN
181690,201712310032,2017,12,31,NaN,0,NaN,160,Philippines,5,...,NaN,"""Security tightened in Cotabato following IED ...","""Security tightened in Cotabato City,"" Manila ...",NaN,START Primary Collection,-9,-9,0,-9,NaN

In [6]:
# Проверим на уникальные данные и систематизируем их

from typing import List

df = df_original.copy()

for col in df.columns:
    unique_count: int = df[col].nunique()  # Количество уникальных значений для каждого столбца
    unique_values: List = df[col].unique().tolist()  # Список уникальных значений для каждого столбца
    
    # Проверяем, все ли значения можно преобразовать в числа (чтобы отсеять числовые поля)
    is_numeric: bool = pd.to_numeric(df[col], errors='coerce').notnull().all()
    
    if is_numeric:
        print(f"Столбец '{col}': уникальных значений {unique_count} — цифровые значения")
    else:
        print(f"Столбец '{col}': уникальных значений {unique_count} — {unique_values[:5]}")

Столбец 'eventid': уникальных значений 181691 — цифровые значения
Столбец 'iyear': уникальных значений 47 — цифровые значения
Столбец 'imonth': уникальных значений 13 — цифровые значения
Столбец 'iday': уникальных значений 32 — цифровые значения
Столбец 'approxdate': уникальных значений 2244 — [nan, 'January 19-20, 1970', 'February 6-9, 1970', 'February 11-14, 1970', 'February 16-17, 1970']
Столбец 'extended': уникальных значений 2 — цифровые значения
Столбец 'resolution': уникальных значений 1859 — [nan, '3/8/1970', '3/15/1970', '3/31/1970', '3/26/1970']
Столбец 'country': уникальных значений 205 — цифровые значения
Столбец 'country_txt': уникальных значений 205 — ['Dominican Republic', 'Mexico', 'Philippines', 'Greece', 'Japan']
Столбец 'region': уникальных значений 12 — цифровые значения
Столбец 'region_txt': уникальных значений 12 — ['Central America & Caribbean', 'North America', 'Southeast Asia', 'Western Europe', 'East Asia']
Столбец 'provstate': уникальных значений 2855 — [nan, 'Federal', 'Tarlac', 'Attica', 'Fukouka']
Столбец 'city': уникальных значений 36673 — ['Santo Domingo', 'Mexico city', 'Unknown', 'Athens', 'Fukouka']
Столбец 'latitude': уникальных значений 48322 — [18.456792, 19.371887, 15.478598, 37.99749, 33.580412]
Столбец 'longitude': уникальных значений 48039 — [-69.951164, -99.086624, 120.599741, 23.762728, 130.396361]
Столбец 'specificity': уникальных значений 5 — [1.0, 4.0, 5.0, 2.0, 3.0]
Столбец 'vicinity': уникальных значений 3 — цифровые значения
Столбец 'location': уникальных значений 44109 — [nan, 'Edes Substation', 'Caparra Shopping Center', 'Brooklyn', 'Champaign Police Department']
Столбец 'summary': уникальных значений 112492 — [nan, '1/1/1970: Unknown African American assailants fired several bullets at police headquarters in Cairo, Illinois, United States.  There were no casualties, however, one bullet narrowly missed several police officers.  This attack took place during heightened racial tensions, including a Black boycott of White-owned businesses, in Cairo Illinois.', '1/2/1970: Unknown perpetrators detonated explosives at the Pacific Gas & Electric Company Edes substation in Oakland, California, United States.  Three transformers were damaged costing an estimated $20,000 to $25,000.  There were no casualties.', '1/2/1970: Karl Armstrong, a member of the New Years Gang, threw a firebomb at R.O.T.C. offices located within the Old Red Gym at the University of Wisconsin in Madison, Wisconsin, United States.  There were no casualties but the fire caused around $60,000 in damages to the building.', "1/3/1970: Karl Armstrong, a member of the New Years Gang, broke into the University of Wisconsin's Primate Lab and set a fire on the first floor of the building.  Armstrong intended to set fire to the Madison, Wisconsin, United States, Selective Service Headquarters across the street but mistakenly confused the building with the Primate Lab.  The fire caused slight damages and was extinguished almost immediately."]
Столбец 'crit1': уникальных значений 2 — цифровые значения
Столбец 'crit2': уникальных значений 2 — цифровые значения
Столбец 'crit3': уникальных значений 2 — цифровые значения
Столбец 'doubtterr': уникальных значений 3 — [0.0, -9.0, 1.0, nan]
Столбец 'alternative': уникальных значений 5 — [nan, 2.0, 1.0, 3.0, 5.0]
Столбец 'alternative_txt': уникальных значений 5 — [nan, 'Other Crime Type', 'Insurgency/Guerilla Action', 'Intra/Inter-group Conflict', 'State Actors']
Столбец 'multiple': уникальных значений 2 — [0.0, 1.0, nan]
Столбец 'success': уникальных значений 2 — цифровые значения
Столбец 'suicide': уникальных значений 2 — цифровые значения
Столбец 'attacktype1': уникальных значений 9 — цифровые значения
Столбец 'attacktype1_txt': уникальных значений 9 — ['Assassination', 'Hostage Taking (Kidnapping)', 'Bombing/Explosion', 'Facility/Infrastructure Attack', 'Armed Assault']
Столбец 'attacktype2': уникальных значений 9 — [nan, 2.0, 7.0, 3.0, 6.0]
Столбец 'attacktype2_txt': уникальных значений 9 — [nan, 'Armed Assault', 'Facility/Infrastructure Attack', 'Bombing/Explosion', 'Hostage Taking (Kidnapping)']
Столбец 'attacktype3': уникальных значений 8 — [nan, 2.0, 4.0, 7.0, 3.0]
Столбец 'attacktype3_txt': уникальных значений 8 — [nan, 'Armed Assault', 'Hijacking', 'Facility/Infrastructure Attack', 'Bombing/Explosion']
Столбец 'targtype1': уникальных значений 22 — цифровые значения
Столбец 'targtype1_txt': уникальных значений 22 — ['Private Citizens & Property', 'Government (Diplomatic)', 'Journalists & Media', 'Police', 'Utilities']
Столбец 'targsubtype1': уникальных значений 112 — [68.0, 45.0, 54.0, 46.0, 22.0]
Столбец 'targsubtype1_txt': уникальных значений 112 — ['Named Civilian', 'Diplomatic Personnel (outside of embassy, consulate)', 'Radio Journalist/Staff/Facility', 'Embassy/Consulate', 'Police Building (headquarters, station, school)']
Столбец 'corp1': уникальных значений 33237 — [nan, 'Belgian Ambassador Daughter', 'Voice of America', 'Cairo Police Department', 'Uruguayan Police']
Столбец 'target1': уникальных значений 86005 — ['Julio Guzman', 'Nadine Chaval, daughter', 'Employee', 'U.S. Embassy', 'U.S. Consulate']
Столбец 'natlty1': уникальных значений 215 — [58.0, 21.0, 217.0, 218.0, 75.0]
Столбец 'natlty1_txt': уникальных значений 215 — ['Dominican Republic', 'Belgium', 'United States', 'Uruguay', 'Germany']
Столбец 'targtype2': уникальных значений 22 — [nan, 3.0, 8.0, 20.0, 1.0]
Столбец 'targtype2_txt': уникальных значений 22 — [nan, 'Police', 'Educational Institution', 'Unknown', 'Business']
Столбец 'targsubtype2': уникальных значений 107 — [nan, 25.0, 50.0, 2.0, 70.0]
Столбец 'targsubtype2_txt': уникальных значений 107 — [nan, 'Police Security Forces/Officers', 'Other Personnel', 'Restaurant/Bar/Café', 'Student']
Столбец 'corp2': уникальных значений 2691 — [nan, 'Fraternal Order of Police', 'San Francisco State College', 'Tavern', 'Psi Upsilon fraternity']
Столбец 'target2': уникальных значений 5043 — [nan, 'Fraternal Order of Police, Cleveland Ohio', 'Officer of the president, San Francisco State College', 'Trovatore Tavern', 'Psi Upsilon, Cornell chapter']
Столбец 'natlty2': уникальных значений 158 — [nan, 217.0, 233.0, 161.0, 422.0]
Столбец 'natlty2_txt': уникальных значений 158 — [nan, 'United States', 'Northern Ireland', 'Poland', 'International']
Столбец 'targtype3': уникальных значений 20 — [nan, 7.0, 1.0, 14.0, 2.0]
Столбец 'targtype3_txt': уникальных значений 20 — [nan, 'Government (Diplomatic)', 'Business', 'Private Citizens & Property', 'Government (General)']
Столбец 'targsubtype3': уникальных значений 92 — [nan, 45.0, 8.0, 68.0, 18.0]
Столбец 'targsubtype3_txt': уникальных значений 92 — [nan, 'Diplomatic Personnel (outside of embassy, consulate)', 'Hotel/Resort', 'Named Civilian', 'Government Personnel (excluding police, military)']
Столбец 'corp3': уникальных значений 422 — [nan, 'Polish Ministry of Foreign Affairs', 'Howard Johnson Hotel', 'Royal Ulster Constabulary', 'Airplane']
Столбец 'target3': уникальных значений 720 — [nan, 'Consul General in Karachi: W. Duda', 'The Downtown Howard Johnson Hotel in New Orleans', 'Brian Haslehurst', 'Zuhayr Mughrabi, driver']
Столбец 'natlty3': уникальных значений 110 — [nan, 161.0, 217.0, 216.0, 110.0]
Столбец 'natlty3_txt': уникальных значений 110 — [nan, 'Poland', 'United States', 'Great Britain', 'Lebanon']
Столбец 'gname': уникальных значений 3537 — ['MANO-D', '23rd of September Communist League', 'Unknown', 'Black Nationalists', 'Tupamaros (Uruguay)']
Столбец 'gsubname': уникальных значений 1183 — [nan, 'FALN-R', 'Palestinian Liberation Army (military wing)', 'Perfect Park Home Garden Society', 'Patrol Vessel']
Столбец 'gname2': уникальных значений 433 — [nan, 'Armed Revolutionary Independence Movement (MIRA)', 'Popular Front for the Liberation of Palestine (PFLP)', 'Carlos the Jackal', 'Palestine Liberation Organization (PLO)']
Столбец 'gsubname2': уникальных значений 60 — [nan, 'Islamic Jihad', 'The Family', 'Abu Ali Mustafa Brigades', 'Ezzedine al-Qassam Brigades']
Столбец 'gname3': уникальных значений 116 — [nan, 'Guerrilla Column 29 September', 'Lebanese Resistance Group', 'Armed Revolutionary Nuclei (NAR)', 'M-19 (Movement of April 19)']
Столбец 'gsubname3': уникальных значений 14 — [nan, 'Commander Ibn al-Khattab', 'Ezzedine al-Qassam Brigades', 'Jihad Jibril', 'Ahrar al-Sham']
Столбец 'motive': уникальных значений 14490 — [nan, 'To protest the Cairo Illinois Police Deparment', 'To protest the War in Vietnam and the draft', 'Protest the draft and Vietnam War', 'To protest United States owned businesses in Puerto Rico']
Столбец 'guncertain1': уникальных значений 2 — [0.0, 1.0, nan]
Столбец 'guncertain2': уникальных значений 2 — [nan, 1.0, 0.0]
Столбец 'guncertain3': уникальных значений 2 — [nan, 0.0, 1.0]
Столбец 'individual': уникальных значений 2 — цифровые значения
Столбец 'nperps': уникальных значений 113 — [nan, 7.0, -99.0, 3.0, 1.0]
Столбец 'nperpcap': уникальных значений 50 — [nan, -99.0, 1.0, 2.0, 0.0]
Столбец 'claimed': уникальных значений 3 — [nan, 0.0, 1.0, -9.0]
Столбец 'claimmode': уникальных значений 10 — [nan, 1.0, 10.0, 3.0, 9.0]
Столбец 'claimmode_txt': уникальных значений 10 — [nan, 'Letter', 'Unknown', 'Call (pre-incident)', 'Other']
Столбец 'claim2': уникальных значений 3 — [nan, 0.0, 1.0, -9.0]
Столбец 'claimmode2': уникальных значений 9 — [nan, 2.0, 10.0, 1.0, 5.0]
Столбец 'claimmode2_txt': уникальных значений 9 — [nan, 'Call (post-incident)', 'Unknown', 'Letter', 'Note left at scene']
Столбец 'claim3': уникальных значений 2 — [nan, 1.0, 0.0]
Столбец 'claimmode3': уникальных значений 8 — [nan, 1.0, 9.0, 2.0, 10.0]
Столбец 'claimmode3_txt': уникальных значений 8 — [nan, 'Letter', 'Other', 'Call (post-incident)', 'Unknown']
Столбец 'compclaim': уникальных значений 3 — [nan, 0.0, 1.0, -9.0]
Столбец 'weaptype1': уникальных значений 12 — цифровые значения
Столбец 'weaptype1_txt': уникальных значений 12 — ['Unknown', 'Explosives', 'Incendiary', 'Firearms', 'Chemical']
Столбец 'weapsubtype1': уникальных значений 30 — [nan, 16.0, 5.0, 2.0, 19.0]
Столбец 'weapsubtype1_txt': уникальных значений 30 — [nan, 'Unknown Explosive Type', 'Unknown Gun Type', 'Automatic or Semi-Automatic Rifle', 'Molotov Cocktail/Petrol Bomb']
Столбец 'weaptype2': уникальных значений 11 — [nan, 5.0, 7.0, 9.0, 8.0]
Столбец 'weaptype2_txt': уникальных значений 11 — [nan, 'Firearms', 'Fake Weapons', 'Melee', 'Incendiary']
Столбец 'weapsubtype2': уникальных значений 28 — [nan, 3.0, 5.0, 23.0, 20.0]
Столбец 'weapsubtype2_txt': уникальных значений 28 — [nan, 'Handgun', 'Unknown Gun Type', 'Knife or Other Sharp Object', 'Gasoline or Alcohol']
Столбец 'weaptype3': уникальных значений 10 — [nan, 13.0, 5.0, 9.0, 8.0]
Столбец 'weaptype3_txt': уникальных значений 10 — [nan, 'Unknown', 'Firearms', 'Melee', 'Incendiary']
Столбец 'weapsubtype3': уникальных значений 22 — [nan, 23.0, 2.0, 16.0, 7.0]
Столбец 'weapsubtype3_txt': уникальных значений 22 — [nan, 'Knife or Other Sharp Object', 'Automatic or Semi-Automatic Rifle', 'Unknown Explosive Type', 'Grenade']
Столбец 'weaptype4': уникальных значений 5 — [nan, 6.0, 9.0, 5.0, 8.0]
Столбец 'weaptype4_txt': уникальных значений 5 — [nan, 'Explosives', 'Melee', 'Firearms', 'Incendiary']
Столбец 'weapsubtype4': уникальных значений 16 — [nan, 16.0, 11.0, 21.0, 2.0]
Столбец 'weapsubtype4_txt': уникальных значений 16 — [nan, 'Unknown Explosive Type', 'Projectile (rockets, mortars, RPGs, etc.)', 'Blunt Object', 'Automatic or Semi-Automatic Rifle']
Столбец 'weapdetail': уникальных значений 19148 — [nan, 'Explosive', 'Incendiary', 'Several gunshots were fired.', 'Automatic firearm']
Столбец 'nkill': уникальных значений 205 — [1.0, 0.0, nan, 7.0, 47.0]
Столбец 'nkillus': уникальных значений 31 — [nan, 0.0, 2.0, 1.0, 4.0]
Столбец 'nkillter': уникальных значений 96 — [nan, 0.0, 2.0, 1.0, 3.0]
Столбец 'nwound': уникальных значений 238 — [0.0, nan, 1.0, 2.0, 7.0]
Столбец 'nwoundus': уникальных значений 44 — [nan, 0.0, 1.0, 2.0, 7.0]
Столбец 'nwoundte': уникальных значений 44 — [nan, 0.0, 1.0, 4.0, 2.0]
Столбец 'property': уникальных значений 3 — цифровые значения
Столбец 'propextent': уникальных значений 4 — [nan, 3.0, 2.0, 4.0, 1.0]
Столбец 'propextent_txt': уникальных значений 4 — [nan, 'Minor (likely < $1 million)', 'Major (likely >= $1 million but < $1 billion)', 'Unknown', 'Catastrophic (likely >= $1 billion)']
Столбец 'propvalue': уникальных значений 659 — [nan, 22500.0, 60000.0, 0.0, 305.0]
Столбец 'propcomment': уникальных значений 19157 — [nan, 'Three transformers were damaged.', 'Basketball courts, weight room, swimming pool, gymnastic equipment, and lockers were destroyed.', 'Slight damage', 'Building was damaged']
Столбец 'ishostkid': уникальных значений 3 — [0.0, 1.0, nan, -9.0]
Столбец 'nhostkid': уникальных значений 209 — [nan, 1.0, 5.0, 13.0, 129.0]
Столбец 'nhostkidus': уникальных значений 27 — [nan, 0.0, 1.0, 13.0, -99.0]
Столбец 'nhours': уникальных значений 35 — [nan, 0.0, 22.0, 17.0, 2.0]
Столбец 'ndays': уникальных значений 328 — [nan, 2.0, 4.0, 17.0, 1.0]
Столбец 'divert': уникальных значений 143 — [nan, 'Beirut', 'Cambodia', 'South Korea', 'Jordan']
Столбец 'kidhijcountry': уникальных значений 217 — [nan, 'Mexico', 'Beirut', 'Venezuela', 'Spain']
Столбец 'ransom': уникальных значений 3 — [0.0, 1.0, nan, -9.0]
Столбец 'ransomamt': уникальных значений 429 — [nan, 800000.0, 110000.0, 0.0, 700000.0]
Столбец 'ransomamtus': уникальных значений 23 — [nan, 20000.0, 0.0, -99.0, 400000.0]
Столбец 'ransompaid': уникальных значений 156 — [nan, 110000.0, 12000.0, 15000.0, 100000.0]
Столбец 'ransompaidus': уникальных значений 8 — [nan, 0.0, 26325.0, 40000.0, 650.0]
Столбец 'ransomnote': уникальных значений 386 — [nan, 'A note, with a sticker of the Black Liberation Army, demanded $20,000 for the safe return of the bartender.  However, the perpetrators left the bartender alone and he was able to escape.', 'Perpetrators demanded support by the Dutch in the UN for independence for the Moluccan Islands.', 'The gunmen demanded the release of 21 South Moluccans jailed in the Netherlands on terrorism charges.  They also demanded a plane to transport themselves and the jailed individuals to an unspecified location.', 'Demand access to the airport.']
Столбец 'hostkidoutcome': уникальных значений 7 — [nan, 2.0, 5.0, 4.0, 3.0]
Столбец 'hostkidoutcome_txt': уникальных значений 7 — [nan, 'Hostage(s) released by perpetrators', 'Successful Rescue', 'Hostage(s) killed (not during rescue attempt)', 'Hostage(s) escaped (not during rescue attempt)']
Столбец 'nreleased': уникальных значений 156 — [nan, 1.0, 5.0, 60.0, 10.0]
Столбец 'addnotes': уникальных значений 15429 — [nan, 'The Cairo Chief of Police, William Petersen, resigned as a result of the attack.', 'Damages were estimated to be between $20,000-$25,000.', "The New Years Gang issue a communiqué to a local paper claiming that they perpetrated this attack.  The New Years Gang  previously attempted to firebomb the R.O.T.C. building a week earlier.  As a result of the attack, police increased their presence in Madison.  Karl Armstrong's girlfriend, Lynn Schultz, drove him to and from the Old Red Gym.  The next day Armstrong would attempt to set a fire in the Selective Service offices in Madison. (197001030001)  Karl Armstrong would be captured after participating in the deadly bombing of Sterling Hall at the University of Wisconsin on August 24, 1970.  (197008240001)", "Karl Armstrong's girlfriend, Lynn Schultz, drove him to and from the Primate Lab.  A day earlier Armstrong would firebomb the R.O.T.C. offices at the University of Wisconsin. (197001020003)  Karl Armstrong would be captured after participating in the deadly bombing of Sterling Hall at the University of Wisconsin on August 24, 1970. (197008240001)"]
Столбец 'scite1': уникальных значений 83988 — [nan, '"Police Chief Quits," Washington Post, January 2, 1970.', 'Committee on Government Operations United States Senate, "Riots, Civil, and Criminal Disorders," U.S. Government Printing Office, August 6, 1970.', 'Tom Bates, "Rads: The 1970 Bombing of the Army Math Research Center at the University of Wisconsin and Its Aftermath," HarperCollinsPublishing, 1992.', 'Committee on the Judiciary  United States Senate, "Terroristic Activity: The Cuban Connection in Puerto Rico; Castro\'s Hand in Puerto Rican and U.S. Terrorism," U.S. Government Printing Office, August 6, 1970.']
Столбец 'scite2': уникальных значений 62263 — [nan, '"Cairo Police Chief Quits; Decries Local \'Militants\'," Afro-American, January 10, 1970.', 'Christopher Hewitt, "Political Violence and Terrorism in Modern America: A Chronology," Praeger Security International, 2005.', 'David Newman, Sandra Sutherland, and Jon Stewart, "The Madison Bomb Story: The Death the FBI Saw, Heard and Won\'t Talk About," Mother Jones, February-March, 1979.', 'Tom Bates, "Rads: The 1970 Bombing of the Army Math Research Center at the University of Wisconsin and Its Aftermath," HarperCollinsPublishing, 1992.']
Столбец 'scite3': уникальных значений 36090 — [nan, 'Christopher Hewitt, "Political Violence and Terrorism in Modern America: A Chronology," Praeger Security International, 2005.', 'The Wisconsin Cartographers\' Guild, "Wisconsin\'s Past and Present: A Historical Atlas," The University of Wisconsin Press, 2002.', 'David Newman, Sandra Sutherland, and Jon Stewart, "The Madison Bomb Story: The Death the FBI Saw, Heard and Won\'t Talk About," Mother Jones, February-March, 1979.', '"Toward People\'s War for Independence and Socialism in Puerto Rico: In Defense of Armed Struggle," Documents and Communiqués from the Revolutionary Public Independence Movement and the Armed Clandestine Movement, January 1987.']
Столбец 'dbsource': уникальных значений 26 — ['PGIS', 'Hewitt Project', 'Hijacking DB', 'CBRN Global Chronology', 'CAIN']
Столбец 'INT_LOG': уникальных значений 3 — цифровые значения
Столбец 'INT_IDEO': уникальных значений 3 — цифровые значения
Столбец 'INT_MISC': уникальных значений 3 — цифровые значения
Столбец 'INT_ANY': уникальных значений 3 — цифровые значения
Столбец 'related': уникальных значений 14306 — [nan, '197001300001, 197001300002', '197002030001, 197002030002', '197002060004, 197002060005, 197002060006', '197002080001, 197002080002, 197002090003']

In [27]:
Base = declarative_base()

class Incident(Base):
    __tablename__ = 'incident'
    
    id = Column(Integer, primary_key=True)  # eventid
    iyear = Column(Integer, nullable=False)
    imonth = Column(Integer, nullable=False)
    iday = Column(Integer, nullable=False)
    city_id = Column(Integer, ForeignKey('city.id'))
    place_spec_id = Column(Integer, ForeignKey('place_spec.id'))
    attack_spec_id = Column(Integer, ForeignKey('attack_spec.id'))
    type_incident_id = Column(Integer, ForeignKey('type_incident.id'))
    type_attack_id = Column(Integer, ForeignKey('type_attack.id'))
    target_sub_type_id = Column(Integer, ForeignKey('target_sub_type.id'))
    corp_id = Column(Integer, ForeignKey('corp.id'))
    target_id = Column(Integer, ForeignKey('target.id'))
    natlty_id = Column(Integer, ForeignKey('natlty.id'))
    claimmode_id = Column(Integer, ForeignKey('claimmode.id'))
    weapon_sub_type_id = Column(Integer, ForeignKey('weapon_sub_type.id')) 
    propextent_id = Column(Integer, ForeignKey('propextent.id'))

    city = relationship(lambda:City, back_populates="incident")
    place_spec = relationship(lambda:PlaceSpec, back_populates="incident")
    attack_spec = relationship(lambda:AttackSpec, back_populates="incident")
    type_incident = relationship(lambda:Type_Incident, back_populates="incident")
    type_attack = relationship(lambda:Type_Attack, back_populates="incident")
    target_sub_type = relationship(lambda:Target_Sub_Type, back_populates="incident")
    corp = relationship(lambda:Corp, back_populates="incident")
    target = relationship(lambda:Target, back_populates="incident")
    natlty = relationship(lambda:Natlty, back_populates="incident")
    claimmode = relationship(lambda:Claimmode, back_populates="incident") 
    weapon_sub_type = relationship(lambda:Weapon_Sub_Type, back_populates="incident") 
    propextent = relationship(lambda:Propextent, back_populates="incident") 
    victims = relationship(lambda:Victims, back_populates="incident")
    properties = relationship(lambda:Properties, back_populates="incident")
    hostages = relationship(lambda:Hostages, back_populates="incident")
    international_data = relationship(lambda:International_Data, back_populates="incident")
    other_data = relationship(lambda:Other_Data, back_populates="incident")


class Country(Base):
    __tablename__ = 'country'
    id = Column(Integer, primary_key=True)
    country_txt = Column(String, nullable=False)

    region = relationship(lambda:Region, back_populates="country")

class Region(Base):
    __tablename__ = 'region'
    id = Column(Integer, primary_key=True)
    region_txt = Column(String, nullable=False)
    country_id = Column(Integer, ForeignKey('country.id'))

    city = relationship(lambda:City, back_populates="region")
    country = relationship(lambda:Country, back_populates="region")

class City(Base):
    __tablename__ = 'city'
    id = Column(Integer, primary_key=True)
    city = Column(String, nullable=False)
    region_id = Column(Integer, ForeignKey('region.id'))

    incident = relationship(lambda:Incident, back_populates="city")
    region = relationship(lambda:Region, back_populates="city")

class PlaceSpec(Base):
    __tablename__ = 'place_spec'
    id = Column(Integer, primary_key=True)
    latitude = Column(Float)
    longitude = Column(Float)
    specificity = Column(Integer)
    vicinity = Column(Boolean, nullable=True)  # Допускаем NaN из CSV
    location = Column(String)
    summary = Column(Text)
    motive = Column(Text)

    incident = relationship(lambda:Incident, back_populates="place_spec")

class AttackSpec(Base):
    __tablename__ = 'attack_spec'
    id = Column(Integer, primary_key=True)
    crit1 = Column(Boolean, nullable=True)
    crit2 = Column(Boolean, nullable=True)
    crit3 = Column(Boolean, nullable=True)
    doubtterr = Column(Boolean, nullable=True)
    multiple = Column(Boolean, nullable=True)
    success = Column(Boolean, nullable=True)
    suicide = Column(Boolean, nullable=True)

    incident = relationship(lambda:Incident, back_populates="attack_spec")

class Victims(Base):
    __tablename__ = 'victims'
    id = Column(Integer, primary_key=True)
    nkill = Column(Integer)
    nkillus = Column(Integer)
    nkillter = Column(Integer)
    nwound = Column(Integer)
    nwoundus = Column(Integer)
    nwoundte = Column(Integer)
    incident_id = Column(Integer, ForeignKey('incident.id'))
    
    incident = relationship(lambda:Incident, back_populates="victims")

class Properties(Base):
    __tablename__ = 'properties'
    id = Column(Integer, primary_key=True)
    property_ = Column(Boolean, nullable=False)
    propvalue = Column(Integer, nullable=False)
    propcomment = Column(Text, nullable=False)

    incident_id = Column(Integer, ForeignKey('incident.id'))
    incident = relationship(lambda:Incident, back_populates="properties")

class Hostages(Base):
    __tablename__ = 'hostages'
    id = Column(Integer, primary_key=True)
    ishostkid = Column(Boolean, nullable=False)
    nhostkid = Column(Integer)
    nhostkidus = Column(Integer)
    ndays = Column(Integer)
    ransom = Column(Boolean)
    ransomamt = Column(Integer)
    ransompaid = Column(Integer)
    hostkidoutcome_txt = Column(String, nullable=False)

    incident_id = Column(Integer, ForeignKey('incident.id'))

    incident = relationship(lambda:Incident, back_populates="hostages")

class International_Data(Base):
    __tablename__ = 'international_data'
    id = Column(Integer, primary_key=True)
    INT_LOG = Column(Boolean, nullable=False)
    INT_IDEO = Column(Boolean, nullable=False)
    INT_MISC = Column(Boolean, nullable=False)
    INT_ANY = Column(Boolean, nullable=False)

    incident_id = Column(Integer, ForeignKey('incident.id'))
    incident = relationship(lambda:Incident, back_populates="international_data")

class Type_Incident(Base):
    __tablename__ = 'type_incident'
    
    id = Column(Integer, primary_key=True)   # заполняется из alternative
    alternative_txt = Column(String, nullable=False)

    incident = relationship(lambda:Incident, back_populates="type_incident")
    
class Type_Attack(Base):
    __tablename__ = 'type_attack'
    
    id = Column(Integer, primary_key=True)   # заполняется из attacktype1
    attacktype1_txt = Column(String, nullable=False)

    incident = relationship(lambda:Incident, back_populates="type_attack")

class Target_Type(Base):
    __tablename__ = 'target_type'
    
    id = Column(Integer, primary_key=True)   # заполняется из targtype1
    targtype1_txt = Column(String, nullable=False)

    target_sub_type = relationship(lambda:Target_Sub_Type, back_populates="target_type")


class Target_Sub_Type(Base):
    __tablename__ = 'target_sub_type'
    
    id = Column(Integer, primary_key=True)   # заполняется из targsubtype1
    targsubtype1_txt = Column(String, nullable=False)

    target_type_id = Column(Integer, ForeignKey('target_type.id'))
    target_type = relationship(lambda:Target_Type, back_populates="target_sub_type")
    incident = relationship(lambda:Incident, back_populates="target_sub_type")

class Corp(Base):
    __tablename__ = 'corp'
    
    id = Column(Integer, primary_key=True)   # cвои
    corp1 = Column(String, nullable=False)

    incident = relationship(lambda:Incident, back_populates="corp")

class Target(Base):
    __tablename__ = 'target'
    
    id = Column(Integer, primary_key=True)   # cвои
    target1 = Column(String, nullable=False)

    incident = relationship(lambda:Incident, back_populates="target")

class Natlty(Base):
    __tablename__ = 'natlty'
    
    id = Column(Integer, primary_key=True)   # заполняется из natlty1
    natlty1_txt = Column(String, nullable=False)

    incident = relationship(lambda:Incident, back_populates="natlty")

class Claimmode(Base):
    __tablename__ = 'claimmode'
    
    id = Column(Integer, primary_key=True)   # заполняется из claimmode
    claimmode_txt = Column(String, nullable=False)

    incident = relationship(lambda:Incident, back_populates="claimmode")

class Weapon_Type(Base):
    __tablename__ = 'weapon_type'
    
    id = Column(Integer, primary_key=True)   # заполняется из weaptype1
    weaptype1_txt = Column(String, nullable=False)

    weapon_sub_type = relationship(lambda:Weapon_Sub_Type, back_populates="weapon_type")
    
class Weapon_Sub_Type(Base):
    __tablename__ = 'weapon_sub_type'
    
    id = Column(Integer, primary_key=True)   # заполняется из weapsubtype1
    weapsubtype1_txt = Column(String, nullable=False)

    weapon_type_id = Column(Integer, ForeignKey('weapon_type.id'))
    weapon_type = relationship(lambda:Weapon_Type, back_populates="weapon_sub_type")
    incident = relationship(lambda:Incident, back_populates="weapon_sub_type")

class Propextent(Base):
    __tablename__ = 'propextent'
    
    id = Column(Integer, primary_key=True)   # свои
    propextent_txt = Column(String, nullable=False)

    incident = relationship(lambda:Incident, back_populates="propextent")

class Other_Data(Base):
    __tablename__ = 'other_data'

    id = Column(Integer, primary_key=True)   # свои
    addnotes = Column(Text, nullable=False)
    scite1 = Column(Text, nullable=False)
    scite2 = Column(Text, nullable=False)
    scite3 = Column(Text, nullable=False)

    incident_id = Column(Integer, ForeignKey('incident.id'))
    incident = relationship(lambda:Incident, back_populates="other_data")

engine = create_engine("sqlite:///content/incident.db")

In [8]:
# Выполняется один раз для создания файла базы. После этого комментируем строку назад
# Base.metadata.create_all(engine)

In [9]:
# Функция для проверки все ли в порядке с релейшеншипами в таблицах (если не выдает ошибки то все пучком)
# configure_mappers()

In [41]:
Session = sessionmaker(bind=engine)

class ORM:

    @staticmethod
    def fill_countries():
        """Заполняем таблицу стран"""
        with Session() as session:
            unique_countries = df[['country', 'country_txt']].drop_duplicates()
            country_data = [
                {"id": row["country"], "country_txt": row["country_txt"]}
                for _, row in unique_countries.iterrows()
            ]
            session.bulk_insert_mappings(Country, country_data)
            session.commit()

    @staticmethod
    def fill_regions():
        with Session() as session:
            # Загружаем существующие страны в словарь {id страны: id страны}
            country_ids = {c.id: c.id for c in session.query(Country).all()}
    
            # Убираем дубликаты по region, оставляя country (id страны)
            unique_regions = df[['region', 'region_txt', 'country']].drop_duplicates(subset=['region'])
    
            region_data = [
                {
                    "id": row["region"],
                    "region_txt": row["region_txt"],
                    "country_id": country_ids.get(row["country"])  # country - это id
                }
                for _, row in unique_regions.iterrows()
                if row["country"] in country_ids  
            ]
    
   
            session.bulk_insert_mappings(Region, region_data)
            session.commit()

    @staticmethod
    def fill_cities():
        """Заполняем таблицу городов, привязывая к регионам"""
        with Session() as session:
            # Загружаем регионы в словарь {id региона: id региона}
            region_ids = {r.id: r.id for r in session.scalars(select(Region))}
    
            # Фильтруем уникальные города, удаляем пустые и NaN
            unique_cities = df[['city', 'region']].drop_duplicates()
            unique_cities = unique_cities.dropna(subset=['city'])  # Удаляем NaN в 'city'
            unique_cities = unique_cities[unique_cities['city'].str.strip() != ""]  # Убираем пустые строки
    
            city_data = [
                {
                    "city": row["city"],
                    "region_id": region_ids.get(row["region"])
                }
                for _, row in unique_cities.iterrows()
                if row["region"] in region_ids  # Исключаем несуществующие регионы
            ]
    
   
            session.bulk_insert_mappings(City, city_data)
            session.commit()

In [16]:
# Выполняем заполнение (т.е заполнение из датафрема- операции одноразовые)
# ORM.fill_countries()

In [ ]:
# ORM.fill_regions()

In [ ]:
# ORM.fill_cities()

In [12]:
# это вообще заготовка кода))

# with Session() as session:
#     for _, row in df.iterrows():
#         # Получаем ID всех зависимых данных
#         city = session.query(City).filter_by(city=row["city"]).first()
#         place_spec = session.query(Place_Spec).filter_by(latitude=row["latitude"], longitude=row["longitude"]).first()
#         attack_spec = session.query(Attack_Spec).filter_by(crit1=row["crit1"], crit2=row["crit2"], crit3=row["crit3"]).first()
#         # Аналогично получаем остальные связи...

#         # Создаем новый инцидент
#         incident = Incident(
#             iyear=row["iyear"],
#             imonth=row["imonth"],
#             iday=row["iday"],
#             related=row["related"],
#             city_id=city.id if city else None,  # Проверяем, есть ли город
#             place_spec_id=place_spec.id if place_spec else None,
#             attack_spec_id=attack_spec.id if attack_spec else None,
#             # Заполняем остальные поля...
#         )
#         session.add(incident)

#     session.commit()  # Сохраняем все инциденты сразу